<div class="flex-center-center h100">
  <div>
    <div class="mb20">
      <button mat-raised-button mat-icon-button>
        <mat-icon>whatshot</mat-icon>
      </button>
    </div>
    <div class="mb20">
      <button mat-raised-button mat-icon-button>
        <mat-icon>whatshot</mat-icon>
      </button>
    </div>
    <div class="mb20">
      <button mat-raised-button mat-icon-button>
        <mat-icon>whatshot</mat-icon>
      </button>
    </div>
    <div class="mb20">
      <button mat-raised-button mat-icon-button>
        <mat-icon>whatshot</mat-icon>
      </button>
    </div>
  </div>
</div>
