.root {
    /* --main-color: #60e4b1; */
    /* --animation-time: 0.3s linear; */
    height: 100%;
}
.root-div {
    position: absolute;
    overflow: hidden;
    overflow: hidden;
    transition: var(--animation-time);
}
.expand {
    width: 100%;
    height: calc(100% - 68px);
}
.collapse {
    width: 100%;
    height: 0; 
}
.background-image {
    transition: var(--animation-time);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background: url("src/assets/bg.png") no-repeat;
    /* width: 100%; */
    /* height: 100%; */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* filter: blur(2px); */
    /* -webkit-filter: blur(4px); */

}
.greet-content {
    transition: var(--animation-time);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
    /* background-color: rgba(0,128,128,0.6); */
    /* background-color: rgba(201, 211, 242,0.4); */
    background-color: rgba(10, 25, 47,0.8);
}

.fsize {
    font-size: 24px;
    line-height: normal;
}
.down-arrow {
    font-size: 60px;
    width: 60px;
    /* height: 60px; */
    /* height: 70px; */
}
.d-arrow-btn {
    width: 60px;
    height: 60px;
}
@media only screen and (max-width: 600px) {
        .msideBAr {
            width: 12%;
            height: fit-content;
        }
  }

  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .msideBAr {
        width: 12%;
        /* height: fit-content; */
    }
  }
  @media all and (device-width: 320px) {
    .msideBAr {
        width: 12%;
    } 
  }