/* You can add global styles to this file, and also import other style files */
.bg {
  background-color: #0a192f;
}
.text {
  color: #c9d3f2;
}

html,
body {
  height: 100%;
  font-family: monospace !important;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
.teal-dark {
  color: #2c644e;
}
/** flex classes*/
.flex {
  display: flex;
}
.f-column {
  flex-direction: column;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-center {
  align-items: center;
}
.a-baseline {
  align-items: baseline;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.j-space-around {
  justify-content: space-around;
}
.j-space-btw {
  justify-content: space-between;
}
/**end flex */
.fsize16 {
  font-size: 16px;
}
.pointer {
  cursor: pointer !important;
}
/* margins */
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 40px !important;
}
.mt10 {
  margin-top: 10px;
}
.mr20 {
  margin-right: 20px;
}
.ml12 {
  margin-left: 12px;
}
.mt40 {
  margin-top: 40px;
}
.mt60 {
  margin-top: 60px;
}
/* end margins */

/* text */
.white-txt {
  color: white;
  z-index: 99;
}
.teal-txt {
  color: var(--main-color);
}
.teal-border {
  border-color: var(--main-color) !important;
}
/* width */
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
.w95 {
  width: 95%;
}
.w5 {
  width: 5%;
}
.h100 {
  height: 100%;
}
.h50 {
  height: 50%;
}
.h40 {
  height: 40%;
}
/* padding */
.p16 {
  padding: 16px !important;
}
.pt20 {
  padding-top: 20px;
}
.bold {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .mb20 {
    margin-bottom: 20px !important;
  }
}
