<div class="flex h100">
  <div class="w50 flex j-center">
    <div class="flex a-center f-column" style="margin-top: 11em">
      <div class="mb20">
        <div class="circle-border"></div>
      </div>
      <div class="mt20">
        <button mat-stroked-button class="teal-txt teal-border">RESUME</button>
      </div>
    </div>
  </div>
  <div class="w50 about-me-section">
    <div class="mb20 fstyle bold">About Me</div>
    <div class="mb20">{{ this.aboutMe }}</div>
    <div class="pt20 mb20 teal-txt bold fstyle">Skills</div>
    <div class="mt20 flex" *ngFor="let skill of this.skills">
        <!-- name -->
      <div class="w20">{{ skill.name }}</div>
      <!-- bar -->
      <div class="progress-bar w60">
        <div class="progress-bar-inner" [style.width]="skill.value + '%'"></div>
      </div>
      <!-- % -->
      <div class="ml12 w20">{{ skill.value + "%" }}</div>
    </div>
  </div>
</div>
