.circle-border {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  max-width: 416px;
  /* padding: 16px; */
}
.about-me-section {
  padding: 11em 6% 4% 6em;
  color: white;
  font-family: monospace;
}
.fstyle {
  font-size: 26px;
}
.progress-bar {
  height: 19px;
  border-radius: 22px;
  width: 100%;
  background: #c9d3f2;
}
.progress-bar-inner {
  background: var(--main-color);
  height: 100%;
  border-radius: 22px;
}
.mt {
  margin-top: 11em;
}
@media only screen and (max-width: 600px) {
  .mobile-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
  }
  .m-width {
    width: 80% !important;
  }
  .m-mt {
    margin-top: 4em !important;
  }
  .about-me-section {
    padding: 3em 16px 0 0 !important;
    width: calc(100% - 16px) !important;
  }
  .progress-bar {
    height: 10px;
    width: 50%;
  }
  .progress-container--mobile {
    align-items: baseline;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .about-me-section {
    padding: 9em 16px 0 70px !important;
    width: 50% !important;
  }
  .progress-bar {
    height: 10px;
    width: 50%;
  }
  .progress-container--mobile {
    align-items: baseline;
  }
}
@media all and (device-width: 320px) {
  .fsize {
    font-size: 10px;
  }
}
